{extends file="webseitenvorlage.html"}
{block name=inhalt}

    <h1>Neuen Eintrag ins Gästebuch machen</h1>
    
    {foreach $fehlermeldungen as $fehlermeldung}
    	{$fehlermeldung}<br />
    {/foreach}
    
    <form action="eintrag_speichern.php" method="post">
	    <table>
	        <tr>
	            <th>Absender</th>
	            <td><input type="text" name="Absender" value="{$data['Absender']}"></td>
	        </tr>
	        <tr>
	            <th>Betreff</th>
	            <td><input type="text" name="Betreff" value="{$data['Betreff']}"></td>
	        </tr>
	        <tr>
	            <th>Email</th>
	            <td><input type="text" name="Email" value="{$data['Email']}"></td>
	        </tr>
	        <tr>
	            <th>Nachricht</th>
	            <td><textarea name="Nachricht" cols="20" rows="5">{$data['Nachricht']}</textarea></td>
	        </tr>             
	        <tr>
	            <td colspan="2"><input type="submit" value="Absenden" ></td>
	        </tr>    
	    </table>
    </form>
{/block}